// COLORS
$color-white: #fff;

$color-black: #000;

$color-grey: #464646;
$color-grey-2: #e2e2e2;

$color-red: #fc4733;

$color-pink: #d7127a;

$color-green: #39b54a;

$color-yellow: #f7ce61;