.section-welcome__container {
    display: block;
    min-width: 15rem;
    max-width: 76rem;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}