.section-welcome__primary-heading {
    color: $color-white;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 5.2rem;
    text-transform: uppercase;
    margin: 2.75rem 0 2rem 0;
    text-align: center;
}